.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}

.main-block {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 15px;
}

.order {
  width: 30%;
  border: 1px solid black;
}

.items {
  width: 70%;
  border: 1px solid black;
}

.foods {
  display: flex;
  flex-wrap: wrap;
}



